* {
	margin: 0 !important;
}

section {
	position: absolute;
}

.light {
	color: #000;
	background: #fff;
	border-bottom-color: #000 !important;
}

.dark {
	color: #fff;
	background: #555;
	border-bottom-color: #fff !important;
}

@keyframes lbb {
	to {
		border-bottom-color: #000 !important;
	}
}

@keyframes dbb {
	to {
		border-bottom-color: #fff !important;
	}
}

.light-border-bottom {
	animation: 1s linear 0s 1 normal forwards running lbb;
}

.dark-border-bottom {
	animation: 1s linear 0s 1 normal forwards running dbb;
}

body {
	overflow: hidden;
	font-family: monospace;
	display: grid;
	height: 100vh;
	width: 100vw;
	user-select: none;
	color: #fff;
	opacity: 0;
}

aside {
	opacity: 0;
	font-size: 100%;
	transform: translateX(2%);
}

aside > img {
	opacity: 0.5;
	width: 50px;
}

#help {
	z-index: 0;
	opacity: 0;
	height: 100vh;
	width: 100vw;
	display: grid;
}

#background {
	height: 100%;
	width: 100%;
	background: #555;
	position: absolute;
}

#box {
	background: #fff;
	justify-self: center;
	align-self: center;
	position: absolute;
	height: 70%;
	width: 50%;
	display: grid;
}

.help-navigation-window {
	justify-self: center;
	align-self: center;
	position: absolute;
	height: 7%;
	display: grid;
}

.help-content {
	color: #fff;
	font-size: 110%;
}

#page-navigation {
	opacity: 1;
	z-index: 1;
}

#target-navigation, #career-navigation, #mode-navigation, #navigation-end {
	opacity: 0;
	z-index: 0;
}

.help-content {
	justify-self: center;
	align-self: center;
	font-size: 120%;
}

#view {
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: grid;
}

#title {
	font-size: 100%;
	z-index: 1;
	user-select: none;
	justify-self: center;
	align-self: center;
	position: absolute;
	border-bottom: 2px solid
}

#title > h1 {
	text-align: center;
}

#title > h4 {
	text-align: center;
	opacity: 0;
}

#title > p {
	text-align: center;
	opacity: 0;
	transform: translateY(50px);
}

#alert {
	visibility: hidden;
	text-align: center;
	font-size: 20px;
	justify-self: right;
	transform: translate(-20px, 10px);
	height: 37.591%;
	width: 21.962%;
	border: 2px solid #000;
	border-radius: 10px;
}

/* EXPLANATION */
#expl {
	position: absolute;
	display: grid;
	justify-self: center;
	align-self: center;
	width: 80.542%;
	opacity: 0;
}

#expl > div {
	justify-self: center;
}

#expl > div > h1 {
	font-size: 20px;
	padding-bottom: 10px;
	white-space: nowrap;
	width: 0%;
	overflow: hidden;
}

#expl > p {
	text-align: center;
	font-size: 16px;
}
/* EXPLANATION END */

/* VICTIMS */
#victim {
	position: absolute;
	justify-self: center;
	align-self: center;
	display: grid;
	height: 61.163%;
	width: 51.238%;
	opacity: 0;
}

#victim-ttl {
	height: fit-content;
	justify-self: center;
}

#victim-title {
	text-align: center;
	white-space: nowrap;
	width: 0%;
	overflow: hidden;
}

#victim-items {
	position: absolute;
	padding-top: 50px;
	height: 100%;
	width: 120%;
	display: grid;
	justify-self: center;
}

/* #vfs, #va { */
#victim-items > div {
	position: absolute;
	text-align: center;
	justify-self: left;
	width: 100%;
	padding-top: 5.954%;
	display: grid;
	height: 100%;
}

#victim-items > div > h3 {
	position: absolute;
	transform: translateY(170%);
	justify-self: center;
	font-size: 130%;
}

#victim-items > div > p {
	position: absolute;
	height: 17%;
	transform: translateY(65%);
	font-size: 110%;
}

#vfs {
	z-index: 1;
	opacity: 1;
}

#va, #vg {
	opacity: 0;
}

#vfs-text {
	visibility: hidden;
}

#va > img {
	padding-top: 20px;
}

#victim-items > div > img {
	position: absolute;
	top: 35%;
	width: 59.534%;
	justify-self: center;
}

.imgb {
	opacity: 1;
}

.imgw {
	opacity: 0;
}

img[alt="govt"] {
	width: 300px !important;
}
/* VICTIMS END */





/* CAREERS PAGE */
.aofmeyz.base {
	width: 70%;
	height: 80%;
	display: grid;
	position: absolute;
	align-items: center;
}
.aofmeyz.first, .aofmeyz.second, .aofmeyz.third, .aofmeyz.fourth {
	position: absolute;
}
.aofmeyz.first {
	opacity: 1;
	z-index: 1;
}
.aofmeyz.second, .aofmeyz.third, .aofmeyz.fourth {
	opacity: 0;
	z-index: 0;
}

.career-wage > a {
	color: inherit;
	font-size: xx-large;
}

.career-preq-heading {
	font-size: 130%;
}

.career-list-item {
	padding: 2% 0;
}

.career-heading {
	font-size: 130%;
}

.career-content {
	font-size: 110%;
}
#careers {
	opacity: 0;
	position: absolute;
	justify-self: center;
	align-self: center;
	display: grid;
	justify-items: center;
	text-align: left;
	align-self: center;
	height: 60%;
	width: 90%;
}
#careers-ttl {
	justify-self: center;
	position: absolute;
	transform: translateY(-5%);
}
#careers-title {
	text-align: center;
	width: 0%;
	white-space: nowrap;
	overflow: hidden;
}
.careers-item {
	position: absolute;
	display: grid;
	width: 100%;
	height: 100%;
}
#careers > div > p {
	width: 100%;
	text-align: justify;
	padding-left: 20px;
}
#careers > div > img {
	position: absolute;
	justify-self: right;
	width: 30%;
}
#careers > div > ul {
	width: 50%;
}
#security-analyst {
	opacity: 1;
	z-index: 1;
}
#security-auditor, #penetration-tester {
	opacity: 0;
	z-index: 0;
}
#careers > div > h3, #careers > div > h4 {
	text-align: left;
}
/* CAREERS PAGE END */
